* { margin: 0; padding: 0; box-sizing: border-box; }
body, input, button { font: 20px Helvetica, Arial; }
#message { background: #000; padding: 3px; bottom: 0; width: 100%; }
#chatArea { border: 0; padding: 10px; width: 600px; margin: auto; }
#message input { width: 85%; border: none; padding: 0px; padding: 10px;}
#message button { width: 15%; background: rgb(130, 224, 255); border: none; padding: 10px; }
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; text-align: left }
#messages li:nth-child(odd) { background: #eee; }

header {
    padding: 50px;
    text-align: center;
}
header h2 {
    padding-bottom: 20px;
}
section {
    text-align: center;
}

#loginArea button {
    margin-left: 10px;
    padding: 2px;
    width: 150px;
}