body {
    width: 100%;
    margin: 0;
    font-family: Lato;
    font-size: 22px;
}

a {
    text-decoration: none;
}

ul {
    padding-left: 0px;
}

li {
    padding-top: 10px;
    width: 200px;
    text-align: center;
    list-style: none;
    display: inline-block;
}

#mainTitle {
    position: absolute;
    top: 75px;
    left: 600px;
    font-family: Monaco;
    font-size: 2em;
}

.cell {
    width: 100px;
    height: 100px;
    max-height: 100px;
    background-color: coral;
    font-family: Monaco;
}

.table {
    margin-left: auto;
    margin-right: auto;
}

.center {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

td {
    text-align: center;
    vertical-align: middle;
}